<div class="param-desc"><?js
    var data = obj;
    if (data && data.type && data.type.names) {
?><?js= this.partial('type.tmpl', data.type.names) ?>
<?js
    }
    if (data && data.description) {
        print(description);
    }
?></div>
