<?js
    var data = obj;
?>
<section>
    <article>
        <pre id="line"><code data-line class="<?js= this.navOptions.linenums ? 'line-numbers' : '' ?> language-<?js= data.lang ?>"><?js= data.code ?></code></pre>
    </article>
</section>
