<?js
var data = obj;
var self = this;
data.forEach(function(name, i) {
    var link = name;
    var displayName = name;

    if (name.indexOf("<") < 0) {
        var nameSplit = name.split(".");
        displayName = nameSplit[nameSplit.length - 1];
    }
?>
<span class="param-type"><?js=self.linkto(name, self.htmlsafe(displayName)) ?></span>
<?js
    if (i < data.length - 1) {
        print(" | ");
    }
});
?>
