<?js
var data = obj;
var self = this;
data.forEach(function(name, i) {
    var link = name;
    var displayName = name;

    if (name.indexOf("<") < 0) {
        var splitter = ".";
        if (name.indexOf("#") > -1) {
            splitter = "#";
        } else if (name.indexOf("~") > -1) {
            splitter = "~";
        }

        var nameSplit = name.split(splitter);
    }
?>
<span class="param-type"><?js=self.linkto(name, self.htmlsafe(displayName)) ?></span>
<?js
    if (i < data.length - 1) {
        print(" | ");
    }
});
?>
